div.company#company 
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.photos
                img.photos_big.geekpines.slideInLeft(src='/assets/images/company_big.png')  
                img.photos_small.geekpines.slideInLeft(data-wow-duration='2s')(src='/assets/images/company_small.png') 
            div.desc
                div.desc_tittle.geekpines.fadeIn
                    p О компании Geekpines 
                div.desc_line.geekpines.fadeIn(data-wow-duration='2s') 
                div.desc_details.geekpines.fadeIn(data-wow-duration='4s')  
                    div.desc_details_big
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula magna 
                          br
                          | magna, a tempus enim ornare sed. Phasellus lobortis elit eget volutpat porta.
                          br
                          | Proin pulvinar magna non sollicitudin lacinia.
                          
                        p
                          | Fusce nec sapien metus. Integer vel euismod est. Nunc malesuada nibh est, sit amet
                          br
                          | faucibus diam interdum non. Aenean commodo elit magna. Phasellus vel risus dolor.
                          br
                          | Sed at euismod lectus. In vel magna id lectus elementum cursus. Aenean elit massa,
                          br
                          | rhoncus ut pulvinar viverra, eleifend non dui.
                    div.desc_details_small
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          br
                          |  Aenean vehicula magna magna, a tempus enim ornare
                          br
                          | sed. Phasellus lobortis elit eget volutpat porta.
                          br
                          | Proin pulvinar magna non sollicitudin lacinia.
                        p
                          | Fusce nec sapien metus. Integer vel euismod est. Nunc 
                          br
                          | malesuada nibh est, sit amet faucibus diam interdum 
                          br
                          | non. Aenean commodo elit magna. Phasellus vel risus 
                          br
                          | dolor.Sed at euismod lectus. In vel magna id lectus
                          br 
                          | elementum cursus. Aenean elit massa, rhoncus 
                          br 
                          |ut pulvinar viverra, eleifend non dui. 
                div.desc_photos
                    img.photos_big(src='/assets/images/company_big.png') 
                    img.photos_small(src='/assets/images/company_small.png') 
                div.desc_experience
                    ul.geekpines.fadeIn(data-wow-duration='6s')
                        li
                          | 5 лет на рынке 
                          span
                          |  разработок

                        li 
                          | 5 лет на рынке 
                          span
                          |  разработок

                        li
                          | 5 лет на рынке 
                          span
                          |  разработок

                div.desc_button.geekpines.slideInRight(data-wow-duration='2s')
                    span Cвяжитесь с нами


