div.company#company 
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line
        div.container
            div.photos
                img.photos_big(src='./assets/images/company_big.png')   
                img.photos_small(src='./assets/images/company_small.png') 
            div.desc
                div.desc_title
                    p Geekpines 
                div.desc_line 
                div.desc_details.mb-3
                    div.desc_details_big
                        p Прежде чем говорить о квалификации и профессиональных способностях, мы хотели бы представиться. Мы являемся профессиональной российской компанией с опытом работы более 8 лет. Мы создаем высокопроизводительные веб-сайты, приложения, игры и программное обеспечение.
                        p Мы осознали, что для достижения нашей цели нам нужна уникальная стратегия. Когда дело доходит до успеха вашего веб-сайта, приложения или программного обеспечения, стратегия - это все.  Именно поэтому мы начинаем каждый проект с брейншторма. Мы работаем с вами сообща на результат, который понравиться вам и будет приносить выгоду, которую вы планировали.
                    div.desc_details_small
                        p Прежде чем говорить о квалификации и профессиональных способностях, мы хотели бы представиться. Мы являемся профессиональной российской компанией с опытом работы более 8 лет. Мы создаем высокопроизводительные веб-сайты, приложения, игры и программное обеспечение.
                        p Мы осознали, что для достижения нашей цели нам нужна уникальная стратегия. Когда дело доходит до успеха вашего веб-сайта, приложения или программного обеспечения, стратегия - это все.  Именно поэтому мы начинаем каждый проект с брейншторма.  Мы работаем с вами сообща на результат, который понравиться вам и будет приносить выгоду, которую вы планировали.
                div.desc_photos
                    img.photos_big(src='./assets/images/company_big.png') 
                    img.photos_small(src='./assets/images/company_small.png') 
                div.desc_experience
                    ul
                        li
                          | 8 лет в IT
                          span
                          |  индустрии 

                        li 
                          | Клиенты из множества 
                          span
                          |  стран

                        li
                          | Гибкое планирование
                          span
                          | этапов
                div.desc_button
                    span 
                        a(href='#contact') Связаться