div.company#company 
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.photos
                img.photos_big(src='./assets/images/company_big.png')   
                img.photos_small(src='./assets/images/company_small.png') 
            div.desc
                div.desc_tittle
                    p Company Geekpines 
                div.desc_line 
                div.desc_details
                    div.desc_details_big
                        p
                          | Before talking about qualifications and professional abilities, we would like to introduce   
                          br
                          | our self we are a professional Russian company for over 8 years, we have been creating 
                          br
                          | high-performance websites, apps ,games, and software
                          
                        p
                          | We recognized that to achieve our aim we need to unique strategy. When it comes to  
                          br
                          | the success of your website, app or software, strategy is everything.It’s the foundation 
                          br
                          | for your success It’s do or die. We understand business.That's why we begin every 
                          br
                          | project with a workshop 
                    div.desc_details_small
                        p
                          | Before talking about qualifications and professional   
                          br
                          | abilities, we would like to introduce ,our self we are a 
                          br
                          |professional Russian company for over 8 years, we have 
                          br
                          | been creating high-performance apps and Websites
                        p
                          |  We recognized that to achieve our aim. we need to 
                          br
                          | unique strategy. When it comes to the success of your  
                          br
                          |website, app or software, strategy is everything.It’s the 
                          br
                          | foundation.for your success It’s do or die.We understand
                          br 
                          | business.That's why we begin every project with
                          br 
                          |with a workshop 
                div.desc_photos
                    img.photos_big(src='./assets/images/company_big.png') 
                    img.photos_small(src='./assets/images/company_small.png') 
                div.desc_experience
                    ul
                        li
                          | 8 Years in IT 
                          span
                          |  field 

                        li 
                          | Clients in 30+ 
                          span
                          |  Countries

                        li
                          | Recognized Leaders   
                          span
                          |  in User Experience 

                div.desc_button
                    span 
                        a(href='#contact') Contact


