div.contact#contact 
    div.container 
        div.title 
            div.title_title
                p Связаться с нами
            div.title_line
            div.title_details
                p 
                    span Мы будем рады ответить на любой ваш вопрос
        div.form
            form.form_contact(action='#')
                    div.form_contact_group
                        input#name(type='text', name='name')
                        label.label_form(for='name') Name
                    div.form_contact_group
                        input#number(type='text', name='number')
                        label.label_form(for='number') Phone
                    div.form_contact_group
                        input#email(type='text', name='email')
                        label.label_form(for='email') E-mail
                    div.form_contact_group#comment
                        textarea.text_area
                        label.label_form Комментарий 
                    div.button 
                        span 
                            a(href='#') Отправить 
            div.form_photo
                
 

