div.contact#contact 
    div.container 
        div.tittle 
            div.tittle_tittle
                p Contact With Us
            div.tittle_line
            div.tittle_details
                p 
                    span.small keep in touch with us 
                    span.small
                      | and ask any question we will be happy to replay 
                      span.big
                        | 
                        span.small   
        div.form
            form.form_contact(action='#')
                    div.form_contact_group
                        input#name(type='text', name='name')
                        label.label_form(for='name') Name
                    div.form_contact_group
                        input#number(type='text', name='number')
                        label.label_form(for='number') Phone
                    div.form_contact_group
                        input#email(type='text', name='email')
                        label.label_form(for='email') E-mail
                    div.form_contact_group#comment
                        textarea.text_area
                        label.label_form Комментарий 
                    div.button 
                        span 
                            a(href='#') Отправить 
            div.form_photo
                
 

