section.header#header
    div.nav 
        div.container
            div.logo
            div.menu 
                div.menu_icon
                    svg(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.999979 1.99996H31.0001C31.5521 1.99996 32.0001 1.55192 32.0001 0.999979C32.0001 0.447955 31.552 0 31.0001 0H0.999979C0.447954 0 0 0.448038 0 0.999979C0 1.55192 0.448037 1.99996 0.999979 1.99996Z', fill='white')
                        path(d='M31.0001 7H0.999979C0.447954 7 0 7.44803 0 7.99997C0 8.55191 0.448037 8.99995 0.999979 8.99995H31.0001C31.5521 8.99995 32.0001 8.55191 32.0001 7.99997C32.0001 7.44803 31.5521 7 31.0001 7Z', fill='white')
                        path(d='M31.0001 14H11C10.448 14 10 14.448 10 15C10 15.552 10.448 16 11 16H31.0001C31.5521 16 32 15.5519 32 15C32.0001 14.448 31.5521 14 31.0001 14Z', fill='white')
                div.menu_items 
                    ul 
                        li 
                            a(href='#header') Home
                        li
                            a(href='#company') About
                        li  
                            a(href='#services') Services
                        li  
                            a(href='#strategy') Strategy
                        li  
                            a(href='#our_work') portfolio
                        li  
                            a(href='#contact') Contact
    div.desc
        div.desc_container  
            div.info  
                div.text
                    div.text_tittle
                        p
                            | Ultimate Digital Experiences.
                            br
                            |  Over Than 8 years in IT.
                    div.text_line 
                    div.text_details
                        p
                          span.small  Our main aim to acquire, retain and delight 
                          span.small
                            | our clients
                            span.big
                              |  We solve any problem and 
                              span.small deliver results.   
 
                    div.text_button
                        span 
                            a(href='#company')  Know More 
                div.photo
                    img(src='./assets/images/1111.png', class='photo_small')   
            div.scroll
                a(href='#company')    
                     svg(width='24', height='35', viewBox='0 0 24 35', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 11.6507C0.5 5.51668 5.64517 0.5 12 0.5C18.3547 0.5 23.5 5.51669 23.5 11.6507V23.319C23.5 29.453 18.3549 34.4691 12 34.4691C5.64514 34.4691 0.5 29.4529 0.5 23.319V11.6507ZM12 34.1739C18.1437 34.1739 23.1667 29.3189 23.1667 23.319V11.6507C23.1667 5.6507 18.1437 0.795132 12 0.795132C5.8563 0.795132 0.833314 5.65087 0.833314 11.6507V23.319C0.833314 29.3189 5.85634 34.1739 12 34.1739Z', fill='white', stroke='white')
                        path(d='M11.833 4.53315C11.833 4.46507 11.8937 4.3855 11.9998 4.3855C12.1055 4.3855 12.1665 4.46491 12.1665 4.53339L12.1665 10.3974C12.1665 10.4655 12.1058 10.545 11.9998 10.545C11.8937 10.545 11.833 10.4655 11.833 10.3974V4.53315Z', fill='white', stroke='white')          