div.how_work#strategy
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.tittle 
                div.tittle_tittle
                    p How We Work       
                div.tittle_line    
                div.tittle_details
                    p 
                        span.small  We start to build, test, and refine user 
                        span.small
                          | experiences based on years of experience,
                          span.big
                            | not guess work
                            span.small   
            div.plans 
                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        |Strategy
                    h5
                        | We begin with research and  customer
                        br
                        |   interviews to create a winning 
                        br
                        |   strategy.
                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        | UX Design
                    h5
                        | We build, test, and refine user experiences 
                        br
                        | based on years of solid research, 
                        br
                        | not guesswork. 

                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        | Development
                    h5
                        |We design and develop a final product 
                        br
                        | that blows the competition out 
                        br
                        | of the water 

                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        |Marketing
                    h5
                        | We remain by your side, driving 
                        br
                        | and engaging customers for even
                        br
                        |  better results
