div.how_work#strategy
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.tittle 
                div.tittle_tittle
                    p Как мы работаем  
                div.tittle_line    
                div.tittle_details
                    p 
                        span.small  Мы начинаем создавать, тестировать и улучшать <br>пользовательский опыт, основываясь на многолетнем опыте, а не на догадках
            div.plans 
                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        |Стратегия
                    h5 Мы начинаем с исследований и <br>опросов клиентов, чтобы создать выигрышную стратегию.
                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4
                        | UX Дизайн
                    h5 Мы создаем, тестируем и улучшаем пользовательский опыт, а не догадки.

                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4 Разработка
                    h5 Мы проектируем и разрабатываем конечный продукт, который вырывает конкуренцию из воды.

                div.plan
                    img(src='./assets/images/blockchain.png')
                    h4 Маркетинг
                    h5 Мы остаемся на вашей стороне, ведем и привлекаем клиентов для еще лучших результатов.
