div.how_work    
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.tittle 
                div.tittle_tittle.geekpines.slideInDown(data-wow-duration='4s')
                    p Как мы работаем       
                div.tittle_line.geekpines.fadeIn(data-wow-duration='3s')     
                div.tittle_details.geekpines.slideInDown(data-wow-duration='1s')
                    p 
                        span.small  Делаем очень хорошо и классно, можете 
                        span.small
                          | поверить наслово,
                          span.big
                            | а еще скачать наши
                            span.small бесплатные приложения    
            div.plans 
                div.plan.geekpines.slideInLeft(data-wow-duration='2s')
                    img(src='/assets/images/blockchain.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 
                div.plan.geekpines.slideInUp(data-wow-duration='2s')
                    img(src='/assets/images/blockchain.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit 
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 

                div.plan.geekpines.slideInDown(data-wow-duration='2s') 
                    img(src='/assets/images/blockchain.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 

                div.plan.geekpines.slideInRight(data-wow-duration='2s')
                    img(src='/assets/images/blockchain.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 
