div.our_work#our_work   
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.title 
                div.title_title
                    p Наши продукты        
                div.title_line    
                div.title_details
                    p 
                        span Делаем очень хорошо и классно, можете  поверить наслово, а еще скачать наши бесплатные приложения
            .mt-3.row.justify-content-center.align-items-start
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-8
                        div.work_info
                            img(src='./assets/images/work_8.png')
                            h4 Мультивалютный майнинговый пул 
                                p
                                    | Криптовалютный пул
                                    | Реализация майнинга BTC, DASH, LTC, ETH, XMR
                                    | Доход 103% на валютах поддерживающих merged mining
                      
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-1
                        div.work_info
                            img(src='./assets/images/work_1.png')
                            h4 Приложение GoaMap
                                p
                                    | Приложение-гид для Гоа на iOS и Android
                                    | Одно из главных требований - возможность полной предзагрузки
                                    |данных и использование без интернета в силу.                      
                        
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-2
                        div.work_info
                            img(src='./assets/images/work_2.png') 
                            h4 Приложение сети клиник "Медицея"
                                p
                                    | Приложение для сети медицинских клиник "Медицея" Реализация личного 
                                    | кабинета пользователя - запись на прием к врачу 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-3
                        div.work_info
                            img(src='./assets/images/work_3.png')
                            h4 Сервис бустинга "BoostingHouse"
                                p
                                    | Game rank boosting and coaching service
                                    | Six games with unique 

                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')             
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-4
                        div.work_info
                            img(src='./assets/images/work_4.png')
                            h4 Событийное агентство "Шахматы"
                                p
                                    | - обычная верстка сайтов, разработка сайтов на базе CMF Modx, 1С Битрикс;
                                    | - программирование на php, NodeJS, JS, TypeScript;
                                    | - фреймворки reactjs, angularjs;

                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-5
                        div.work_info
                            img(src='./assets/images/work_5.png')
                            h4 Криптовалютный обменник
                                p
                                    | Обменник криптовалюты
                                    | Поддержка множества криптовалют и направлений обмена
                                    | CRM решение для эффективного управления сделками
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-6
                        div.work_info
                            img(src='./assets/images/work_6.png')
                            h4 Мобильная игра "Сеня Спасатель"
                                p
                                    | Игра «Сеня-Спасатель» - новый элемент программы, которая 
                                    | действует с 2005 года и посвящена вопросам безопасности детей и 
                        div.work_button
                            span Узнать больше 
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-7
                        div.work_info
                            img(src='./assets/images/work_7.png')
                            h4 Система управления магазином автозапчастей
                                p
                                    | Система автоматизации продаж автозапчастей SHTAB.ONLINE
                                    |Программный комплекс предназначен для 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-9 
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 KC Token and Crowdsale аудит
                                p
                                    | Аудит ICO / Ethereum Solidity смарт-контракта.
                                    | - Провели тестирование на симуляторе
                                    | - Описали рекомендации в документе

                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-12.col-sm-6.col-lg-4.mb-3
                    .work.trigger-10 
                        div.work_info
                            img(src='./assets/images/work_10.png')
                            h4 Steam bot для массовых рассылок
                                p
                                    |Бот для массовой рассылки приглашений в Steam группы Веб-интерфейс для 
                                    |управления запуска ботами и настройки: - целевых 
                        div.work_button
                            span Узнать больше 
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')

