div.our_work#our_work   
    div.background
        div.background_lines 
            div.line 
            div.line 
            div.line  
            div.line   
            div.line     
        div.container
            div.title 
                div.title_title
                    p Наши продукты        
                div.title_line    
                div.title_details
                    p 
                        span Делаем очень хорошо и классно, можете  поверить наслово, а еще скачать наши бесплатные приложения
            .mt-3.row.d-flex.justify-content-center
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-1
                        div.work_info
                            img(src='./assets/images/cryptopool-1.png')
                            h4 Криптовалютный пул
                                p
                                    | • Реализация любых валют: BTC, DASH, LTC, ETH, etc.
                                    br
                                    | • Доход 103% на валютах поддерживающих merged mining
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-2
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 SECOND
                                p
                                    | Lorem ipsum dolor sit amet, consectetur
                                    br 
                                    | adipiscing elit. Vestibulum nunc ipsum,
                                    br
                                    | commodo in tellus in, cursus vehicula sapien.
                                    br
                                    | Vestibulum velit purus, ultrices eleifend orci 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-3
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 THIRD
                                p
                                    | Lorem ipsum dolor sit amet, consectetur
                                    br
                                    | adipiscing elit. Vestibulum nunc ipsum,
                                    br
                                    | commodo in tellus in, cursus vehicula sapien.
                                    br
                                    | Vestibulum velit purus, ultrices eleifend orci 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')             
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-4
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 FOURTH
                                p
                                    | Lorem ipsum dolor sit amet, consectetur
                                    br
                                    | adipiscing elit. Vestibulum nunc ipsum,
                                    br
                                    | commodo in tellus in, cursus vehicula sapien.
                                    br
                                    | Vestibulum velit purus, ultrices eleifend orci 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-5
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 FIFTH
                                p
                                    | Lorem ipsum dolor sit amet, consectetur
                                    br 
                                    | adipiscing elit. Vestibulum nunc ipsum,
                                    br
                                    | commodo in tellus in, cursus vehicula sapien.
                                    br
                                    | Vestibulum velit purus, ultrices eleifend orci 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')
                .col-10.col-sm-6.col-lg-4.mb-3
                    .work#trigger-6
                        div.work_info
                            img(src='./assets/images/work_image.png')
                            h4 SIXTH
                                p
                                    | Lorem ipsum dolor sit amet, consectetur
                                    br
                                    | adipiscing elit. Vestibulum nunc ipsum,
                                    br
                                    | commodo in tellus in, cursus vehicula sapien.
                                    br
                                    | Vestibulum velit purus, ultrices eleifend orci 
                        div.work_button
                            span Узнать больше
                            svg(width='156', height='10', viewBox='0 0 156 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M155.46 5.45962C155.713 5.20578 155.713 4.79422 155.46 4.54038L151.323 0.403806C151.069 0.149965 150.658 0.149965 150.404 0.403806C150.15 0.657647 150.15 1.0692 150.404 1.32304L154.081 5L150.404 8.67696C150.15 8.9308 150.15 9.34235 150.404 9.59619C150.658 9.85003 151.069 9.85003 151.323 9.59619L155.46 5.45962ZM0 5.65H155V4.35H0V5.65Z', fill='#9D6EFF')             