block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js") 
  //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="vendor/magnific-popup/jquery.magnific-popup.min.js")
  script(src="vendor/slick/slick.js")  
  script(src="./js/app.js")