div.service_company
    div.background 
        div.background_lines 
            div.line 
            div.line 
            div.line 
            div.line 
            div.line 
        div.container 
            div.tittle 
                div.tittle_tittle
                    p Наши услуги 
                div.tittle_line     
                div.tittle_details
                    p 
                        span.small  Делаем очень хорошо и классно, можете 
                        span.small
                          | поверить наслово,
                          span.big
                            | а еще скачать наши
                            span.small бесплатные приложения    
            div.services
                div.service.geekpines.fadeIn(data-wow-duration='1s') 
                    img(src='./assets/images/service_1.png')        
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 
                div.service.geekpines.fadeIn(data-wow-duration='3s')
                    img(src='./assets/images/service_2.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5 
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 
                div.service.geekpines.fadeIn(data-wow-duration='4s') 
                    img(src='./assets/images/service_3.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit 
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 
                div.service.geekpines.fadeIn(data-wow-duration='5s')  
                    img(src='./assets/images/service_4.png')
                    h4
                        | Создание
                        br
                        | криптовалютно пула
                    h5
                        | Lorem ipsum dolor sit
                        br
                        | amet, consectetur 
                        br
                        | adipiscing elit. Vestibulum 

            div.button  
                span Хотите узнать больше? 