div.service_company#services
    div.background 
        div.background_lines 
            div.line 
            div.line 
            div.line 
            div.line 
            div.line 
        div.container 
            .title.mb-5
                div.title_title
                    p Наши услуги
                div.title_line     
                div.title_details.mb
                    p
                        | Professional Software Development Services
                        | for your success 
                        | IT solutions With 
                        | High quality and low overhead    
            .row
                .col-md-6.mb-4.service
                    .row
                        .col-3.col-sm-2.col-md-4.col-lg-3
                            img(src='./assets/images/service-1.svg')
                        .col-9.col-sm-10.col-md-8.col-lg-9
                            h5.h5 Крупномасштабные решения  
                            p • Десктопные, мобильные и веб-приложения. <br>• Rapid continuous integration and delivery. <br>• Масштабируемая архитектура. <br>• Современный Backend-стек под любые требования: Node.js, Golang, MongoDB, PostgreSQL, Redis
                .col-md-6.mb-4.service
                    .row
                        .col-3.col-sm-2.col-md-4.col-lg-3
                            img(src='./assets/images/service-2.svg')
                        .col-9.col-sm-10.col-md-8.col-lg-9
                            h5.h5 Разработка стартапов    
                            p • Десктопные, мобильные и веб-приложения. <br>• Rapid continuous integration and delivery. <br>• Масштабируемая архитектура. <br>• Современный Backend-стек под любые требования: Node.js, Golang, MongoDB, PostgreSQL, Redis
                .col-md-6.mb-4.service
                    .row
                        .col-3.col-sm-2.col-md-4.col-lg-3
                            img(src='./assets/images/service-4.svg')
                        .col-9.col-sm-10.col-md-8.col-lg-9
                            h5.h5 Мобильная разработка
                            p • Одновременный запуск на iOS и Android. <br>• Нативные приложения на базе NativeScript. <br>• Интеграция с существующим бекендом или разработка с нуля.
                .col-md-6.mb-4.service
                    .row
                        .col-3.col-sm-2.col-md-4.col-lg-3
                            img(src='./assets/images/service-3.svg')
                        .col-9.col-sm-10.col-md-8.col-lg-9
                            h5.h5 Поддержка проектов
                            p • Помощь в решении срочных проблем: устранение багов, доработка функций. <br>• Оценка состояния проекта <br>• Составление плана развития архитектуры проекта: повышение масштабируемости и отказоустойчивости, поддержка большего числа пользователей.
            div.button  
                span 
                     a(href='#company') Know More 