div.service_company#services
    div.background 
        div.background_lines 
            div.line 
            div.line 
            div.line 
            div.line 
            div.line 
        div.container 
            div.tittle 
                div.tittle_tittle
                    p Our Service 
                div.tittle_line     
                div.tittle_details
                    p 
                        span.small  Professional Software Development Services 
                        span.small
                          | for your success 
                          span.big
                            | IT solutions With 
                            span.small   High quality and low overhead    
            div.services
                div.service
                    img(src='./assets/images/service_1.png')        
                    h4
                        | Graphic Design
                         
                    h5
                        | Most websites, apps and software
                        br
                        |  are built for stakeholders, 
                        br
                        |   without users in mind.
                div.service
                    img(src='./assets/images/service_2.png')
                    h4
                        | Web Development
                       
                    h5 
                        | We have the business acumen, 
                        br
                        | creativity, and experience to solve
                        br
                        |  any problem and deliver results.
                div.service
                    img(src='./assets/images/service_3.png')
                    h4
                        | Mobile Development
                    h5
                        | We have the business acumen, 
                        br
                        | creativity, and experience to solve
                        br
                        |  any problem and deliver results.
                div.service  
                    img(src='./assets/images/service_4.png')
                    h4
                        | Game Development
                        
                    h5
                        | We have the business acumen, 
                        br
                        | creativity, and experience to solve
                        br
                        |  any problem and deliver results. 

            div.button  
                span 
                     a(href='#company') Know More 