div.service_company#services
    div.background 
        div.background_lines 
            div.line 
            div.line 
            div.line 
            div.line 
            div.line 
        div.container 
            div.tittle 
                div.tittle_tittle
                    p Наши услуги
                div.tittle_line     
                div.tittle_details
                    p 
                        span.small  Professional Software Development Services 
                        span.small
                          | for your success 
                          span.big
                            | IT solutions With 
                            span.small   High quality and low overhead    
            div.services
                div.service
                    img(src='./assets/images/service_1.png')        
                    h4 Разработка стартапов    
                    h5 • Быстрое прототипирование. <br>• Создание MVP в самые сжатые сроки. <br>• Деплой в тестовой среде. <br>• Сбор фидбека и доработки. <br>• Оценка затрат на реализацию полноценного решения. <br>• Roadmap для запуска проекта.
                div.service
                    img(src='./assets/images/service_2.png')
                    h4 Крупномасштабные решения  
                    h5 • Десктопные, мобильные и веб-приложения. <br>• Rapid continuous integration and delivery. <br>• Масштабируемая архитектура. <br>• Современный Backend-стек под любые требования: Node.js, Golang, MongoDB, PostgreSQL, Redis
                div.service
                    img(src='./assets/images/service_3.png')
                    h4 Мобильная разработка
                    h5 • Одновременный запуск на iOS и Android. <br>• Нативные приложения на базе NativeScript. <br>• Интеграция с существующим бекендом или разработка с нуля.
                div.service  
                    img(src='./assets/images/service_4.png')
                    h4 Поддержка проектов
                    h5 • Помощь в решении срочных проблем: устранение багов, доработка функций. <br>• Оценка состояния проекта <br>• Составление плана развития архитектуры проекта: повышение масштабируемости и отказоустойчивости, поддержка большего числа пользователей.
            div.button  
                span 
                     a(href='#company') Know More 