div.team 
    div.background 
        div.container 
            div.tittle 
                div.tittle_tittle.geekpines.fadeIn(data-wow-duration='2s')
                    p Команда
                div.tittle_line.geekpines.fadeIn(data-wow-duration='4s') 
            div.persones
                div.person  
                    div.person_avtar.avtar_5 
                        img(src="./assets/images/person_5.png", alt="")
                    div.person_job
                        h3 Иван Шамшурин
                        h5 Team Lead
                div.person 
                    div.person_avtar.avtar_6 
                        img(src="./assets/images/person_6.png", alt="")
                    div.person_job
                        h3 Тимофей Сакаев
                        h5 Team Lead
                div.person 
                    div.person_avtar.avtar_7 
                        img(src="./assets/images/person_7.png", alt="")
                    div.person_job
                        h3 Роман Давлятшин
                        h5 Team Lead
                div.person 
                    div.person_avtar.avtar_8   
                        img(src="./assets/images/person_8.png", alt="")
                    div.person_job
                        h3 Никита Королев
                        h5 Team Lead
                div.person  
                    div.person_avtar.avtar_9  
                        img(src="./assets/images/person_9.png", alt="")
                    div.person_job
                        h3 Николай Новиков
                        h5 Team Lead
                div.person  
                    div.person_avtar.avtar_5 
                        img(src="./assets/images/person_5.png", alt="")
                    div.person_job
                        h3 Иван Шамшурин
                        h5 Team Lead
                div.person
                    div.person_avtar.avtar_1
                        img(src="./assets/images/person_1.png", alt="") 
                    div.person_job
                        h3 Имя Фамилия
                        h5 Team Lead
                div.person  
                    div.person_avtar.avtar_2
                        img(src="./assets/images/person_2.png", alt="")
                    div.person_job
                        h3 Антон Wanderer
                        h5 Team Lead
                div.person 
                    div.person_avtar.avtar_3 
                        img(src="./assets/images/person_3.png", alt="")
                    div.person_job
                        h3 Алексей Борисов
                        h5 Team Lead
                div.person 
                    div.person_avtar.avtar_4 
                        img(src="./assets/images/person_4.png", alt="")
                    div.person_job
                        h3 Я-Люблю Поезда
                        h5 Team Lead

            div.button.geekpines.slideInUp(data-wow-duration='1s')
                span Узнайте больше о нас 
