div.team 
    div.background 
        div.container 
            div.tittle 
                div.tittle_tittle
                    p Наша команда
                div.tittle_line
            div.persones
                div.person  
                    div.person_avtar.avtar_1 
                        img(src="./assets/images/person_1.jpg", alt="")
                    div.person_job
                        h3 Иван Шамшурин
                        h5 Директор по инновациям
                div.person 
                    div.person_avtar.avtar_2 
                        img(src="./assets/images/person_2.jpg", alt="")
                    div.person_job
                        h3 Тимофей Сакаев
                        h5 Проект-менеджер
                div.person 
                    div.person_avtar.avtar_3
                        img(src="./assets/images/person_3.jpg", alt="")
                    div.person_job
                        h3 Роман Давлятшин
                        h5 DevOps / Гуру
                div.person 
                    div.person_avtar.avtar_4   
                        img(src="./assets/images/person_4.jpg", alt="")
                    div.person_job
                        h3 Никита Королев
                        h5 Back-end разработчик
                div.person 
                    div.person_avtar.avtar_5 
                        img(src="./assets/images/person_5.jpg", alt="")
                    div.person_job
                        h3 Алексей Борисов
                        h5 1C разработчик
                div.person
                    div.person_avtar.avtar_6
                        img(src="./assets/images/person_6.jpg", alt="") 
                    div.person_job
                        h3 Денис Ипанов
                        h5 Креативный дизайнер
                div.person  
                    div.person_avtar.avtar_7
                        img(src="./assets/images/person_7.jpg", alt="")
                    div.person_job
                        h3 Мухаммед Ашраф
                        h5 Front-end разработчик
                div.person  
                    div.person_avtar.avtar_8  
                        img(src="./assets/images/person_8.jpg", alt="")
                    div.person_job
                        h3 Антон Пушкарев 
                        h5 Team Lead
                div.person  
                    div.person_avtar.avtar_9  
                        img(src="./assets/images/person_9.jpg", alt="")
                    div.person_job
                        h3 Николай Новиков
                        h5 UI/UX дизайнер
            div.button
                span 
                     a(href='#company')  Know More 
