doctype html
html
  include ./includes/head 
  body
    block content
    include ./includes/header
    include ./includes/company 
    include ./includes/team
    include ./includes/service
    include ./includes/how_work
    include ./includes/our_work 
    include ./includes/contact
    include ./includes/footer 
    include ./includes/scripts     
       