.company{
    width: 100vw;
    height: 627px;
    .background{
        background-image: url(/assets/images/Frame.png);
        @include background_image();
        @media screen and (max-width: 800px){
			background-image: none; 
        }
        &_lines{
            @media screen and (max-width: 780px){
                display: none !important;     
            }
        }
        .container{
            @include container(); 
            @include flex-row;
            .photos{
                width: 557px;
                height:425px;
                margin-top: 109px;
                @include flex-column();
                justify-content: space-between; 
                @media screen and (max-width:830px) {
                    display:none !important;
                }
                &_big{
                    max-width: 370px;
                    height: auto;
                    align-self: flex-start; 
                }
                &_small{
                    max-width: 254px;
                    height: auto;
                    align-self: flex-end;
                    margin-right: 57px;
                }
            }
            .desc{
                width: 555px;
                height: 447px;
                margin-top: 87px;
                @include flex-column();
                justify-content: flex-start;
                &_tittle{
                    @include font__x4 () ;
                    @include color(blue_style , 6);
                    & p{
                        margin: 0;
                        padding: 0;
                    }
                }   
                &_line{
                    @include line__style();
                    margin-top:5px;
                    
                }
                &_details{
                    @include font__x2 () ;
                    @include color(blue_style , 2);
                    &_small{
                        display: none; 
                    }
                    @media screen and (max-width:1112px) {
                        font-size:12px
                    }
                    @media screen and (max-width:960px) {
                        font-size:10px
                    }
                    margin-top: 27px; 
                    & p{
                        margin: 0;
                        padding: 0;
                    }
                    & p:nth-child(2){
                        margin-top: 30px;   
                    }
                    & span{
                        display: block;
                    }
                }
                &_photos{
                    display: none;
                    @media screen and (max-width:830px) {
                        display:block !important;
                    }
                }
                &_experience{
                    & span{
                        display: block;
                    }
                    & ul{
                        list-style-type: none;
                        padding: 0px 0px 0px 20px;
                        margin: 45px 0 0 0;  
                        width: 100%;
                        @include flex-row();
                        justify-content: space-between;
                    }
                    & li{
                        display: inline;
                        position: relative;
                        @include font__x2();
                        @include color(blue_style,6);
                        font-weight: bold;
                        &::before{
                            content: ""; 
                            display: block;
                            position: absolute;
                            left: -18px; 
                            top:11px; 
                            width: 9.33px;
                            height: 9.33px; 
                            background-image: linear-gradient(48.9deg, #CA40FF -1.49%, #40C8FF 118.52%);
                            box-shadow: 0px 10px 25px rgba(143, 123, 255, 0.25);
                            border-radius: 3px;
                            transform: rotate(-45deg);
                        }
                    }
                }
                &_button{
                    @include button_style_white();
                    margin-top: 48px; 
                }
            }
        }
    }   
}
@media screen and (max-width:830px){
    .company{
        height: fit-content;
        .background{
            .container{
                max-width: 100vw; 
                .desc{
                    width: 100%;
                    height: fit-content;
                    @include flex-column();
                    justify-content: flex-start;
                    &_tittle{
                        align-self: center;
                        & p{
                        }
                    }   
                    &_line{
                        align-self: center;
                        margin-top:5px;
                    }
                    &_details{
                        &_big{
                            display: none;
                        }
                        &_small{
                            display: block
                        }
                        align-self: center; 
                        font-size: 15px;
                        text-align: center;
                        .small{
                            display: block
                        }
                    }
                    &_photos{
                        @include flex-row();
                        justify-content: center;
                        margin-top: 15px;
                        .photos_big{
                            width: 262px;
                            height: 164px;
                            margin-right: 12px;
                        }
                        .photos_small{
                            width: 172px;
                            height: 114px;
                            align-self: center;
                        }

                    } 
                    &_experience{
                        justify-self: flex-start;
                        font-size: 36px;
                        & span{
                            display: block;  
                        }
                        & ul{
                            justify-content:space-around;  
                        }
                        & li{ 
                        }
                    }
                    &_button{
                        align-self: center;
                        margin-bottom: 74px;
                    }
                }
            }
        }   
    }    
}
@media screen and (max-width:460px){
    .company{
        height: fit-content;
        .background{
            .container{
                max-width: 100vw; 
                .desc{
                    width: 100%;
                    margin-top: 62px;
                    height: fit-content;
                    @include flex-column();
                    justify-content: flex-start;
                    &_tittle{
                        align-self: center;
                        line-height: 34px;
                        font-size: 24px;
                        @media screen and (max-width:311px) {
                            font-size: 22px;
                        }
                        & p{
                        }
                    }   
                    &_line{
                        align-self: center;
                        width: 35px;
                        height: 3px;
                        margin-top:10px;
                    }
                    &_details{
                        margin-top: 14px;
                        &_big{
                            display: none;
                        }
                        &_small{
                            display: block;
                            line-height: 25px;
                            font-size: 14px;
                            @media screen and (max-width:402px) {
                                font-size: 13px;
                            }
                            @media screen and (max-width:373px) {
                                font-size: 12px;
                            }
                            @media screen and (max-width:353px) {
                                font-size: 11px;
                            }
                            @media screen and (max-width:328px) {
                                font-size: 10px;
                            }
                        }
                        align-self: center; 
                        font-size: 15px;
                        text-align: center;
                        .small{
                            display: block
                        }
                    }
                    &_photos{
                        align-self: flex-start;
                        @include flex-row();
                        margin-top: 15px;
                        .photos_big{
                            width: 262px;
                            height: 164px;
                            margin-right: 12px;
                        }
                        .photos_small{
                            width: 172px;
                            height: 114px;
                            align-self: center;
                        }
                    } 
                    &_experience{
                        justify-self: center;
                        align-self: center;
                        font-size: 36px;
                        & span{
                            display: block;  
                        }
                        & ul{
                            width: 100vw;
                            height: 300px;
                            display: grid;
                            grid-template-rows: 37px 60px ;
                            grid-template-columns:  50% 50% ;
                            background: black;
                        } 
                        & li{ 
                             line-height: 18px;
                             font-size: 16px; 
                        }
                        & li:first-child{
                            grid-row: 1/2;
                            grid-column: 1/2;
                            background: #CA40FF;
                        }
                        & li:nth-child(2){
                                grid-row: 1/2;
                            grid-column: 2/3; 
                            background: #40C8FF;
                        }
                        & li:last-child{
                            grid-row: 1/-1;
                            grid-column: 1/-1;
                            background: #CA40FF
                        }
                    }
                    &_button{
                        align-self: center;
                        margin-top: 37px;
                        margin-bottom: 74px;
                    }
                }
            }
        }   
    }    
}

