.our_work{
    width: 100vw;
    height: fit-content;
    padding-bottom: 80px;
    .background{
        background-image: url(../assets/images/our_work_background.png);
        @include background_image();
        .container{
            @include container(); 
            @include flex-column();
            justify-content: flex-start;
            align-items: center;
            @include title_of_block (72px , 1 ,2);
            
            .slick-dots {
                bottom: -65px;
            }
            .work {
                @include flex-column();
                background: white;
                text-align: left; 
                border:1px solid #E2E6E9;
                padding: auto;
                transition: box-shadow 0.4s;
                height: 100%;
                justify-content: space-between;
                &_info{
                    @include flex-column();
                    justify-content: flex-start;
                    padding: 30px;
                    & img{
                        width: 100%;
                    }
                    & h4,p{
                        margin: 0;
                        padding: 0;
                    }
                    & h4{
                        @include font__x3(); 
                        @include color( blue_style , 1);
                        margin-top: 20px;
                    }
                    & p{
                        @include font__x2();  
                        @include color( blue_style , 2); 
                        font-weight: normal;
                        margin-top:8px; 
                    }
                }
                &_button{
                    height: 52px;
                    padding: 0 30px; 
                    @include flex-row();
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #E2E6E9;
                    span{
                        color: #9D6EFF;
                    }
                    @media screen and (max-width: 768px){
                        svg {
                            width: 40%;
                        }
                    }
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 0px 40px rgba(202, 211, 217, 0.72);
                }
            }
        }
        .button{
            @include button_style_white();
            width: 349px;
            margin-top: 75px;
            & span{
                width: 345px;
            }
            @media screen and (max-width:390px){ 
                    @include button_style_white();
                    width: 290px !important;
                    margin-top: 75px;
                    & span{
                        width: 284px !important;
                }
            }    
        }
    }
}

.trigger{
    
}