.pop-up#pop-up-1
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .go-back
                        i.material-icons arrow_back
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_1.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Приложение GoaMap
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='https://www.youtube.com/watch?v=CjG9J8ehqfs' target="blank") Демонстрация админки - https://www.youtube.com/watch?v=CjG9J8ehqfs
                            .details_text 
                            p
                                | Приложение-гид для Гоа на iOS и Android.
                                br
                                br
                                | Одно из главных требований -  возможность полной предзагрузки данных и использование приложения без интернета в силу плохого мобильного сигнала в Гоа.
                                | Предзагрузка и синхронизация реализована с помощью PouchDB на фронте и CouchDB на бекенде.
                                br
                            span Реализованы следующие функциональные возможности приложения:
                            ul
                                li гид по интересным местам;
                                li бронирование отелей;  
                                li бронирование билетов на самолет; 
                                li объявления о съеме недвижимости (публикация и просмотр);
                                li прием оплаты за недвижимость.
                                    
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/1_1.png' title='The Cleaner')
                            img.photo(src='./assets/images/1_1.png')  
                        a(href='./assets/images/1_2.png' title='Winter Dance')
                            img.photo(src='./assets/images/1_2.png')
                        a(href='./assets/images/1_3.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/1_3.png')   
                        a(href='./assets/images/1_4.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/1_4.png') 
                        a(href='./assets/images/1_5.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/1_5.png') 
                        a(href='./assets/images/1_6.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/1_6.png') 
            .h-ruler
            block content
            include ./slider-pop-up 
