.pop-up#pop-up-2
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .close
                        i.material-icons close
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/cryptopool-1.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Мультивалютный майнинговый пул
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='#') NDA protected
                            .details_text 
                            p
                                | • Реализация любых валют: BTC, DASH, LTC, ETH, etc.
                                br
                                | • Доход 103% на валютах поддерживающих merged mining
                                br
                                | • Комплексное решение для мониторинга на базе Grafana и Prometheus
                                br
                                | • Микросервисная архитектура с Docker
                                br
                                | • Масштабирование и отказоустойчивость с Kubernetes и Rancher
                                br
                                | • Обширная статистика по пользователям
                                br
                                | • Интеграция с обменником
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/portfolio/images/pool_3.jpg' title='The Cleaner')
                            img.photo(src='./assets/portfolio/images/pool_3.jpg') 
                        a(href='./assets/portfolio/images/pool_2.jpg' title='Winter Dance')
                            img.photo(src='./assets/portfolio/images/pool_2.jpg')
                        a(href='./assets/portfolio/images/pool_1.jpg' title='The Uninvited Guest')
                            img.photo(src='./assets/portfolio/images/pool_1.jpg') 
            .h-ruler
            .row.mb-3
                .col-12
                    .title Файлы проекта
            .row.mb-5
                .col-12
                    .files 
                        a.file(href="" target="blank" rel="nofollow") file name
                        a.file(href="" target="blank" rel="nofollow") file name