.pop-up#pop-up-2
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .go-back
                        i.material-icons arrow_back
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_2.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Приложение для сети медицинских клиник "Медицея"
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='https://play.google.com/store/apps/details?id=com.geekpines.mediceya&hl=ru' target="blank") https://play.google.com/store/apps/details?id=com.geekpines.mediceya&hl=ru
                            .details_text 
                            p
                                |К нам обратилась частная медицинаская клиника для переноса их бизнес-сайта в мобилное приложение 
                                |Они нуждались в удобном личном кабинете для разгрузки их call-центра и оперативных уведомлениях о результатах анализов пациентов в личном кабинете.
                                br 
                                br 
                                |В личном кабинете пользователя реализованны следующие возможности:
                                ul
                                    li онлайн-запись на прием с выбором врача, дня и удобного времени без звонка в клинику;  
                                    li ваша медицинская карта: история посещений, результаты анализов, планируемые посещения;
                                    li Вызов врача на дом;
                                    li онлайн-консультации со специалистами: вы можете оставить любой интересующий вас вопрос врачам из списка и получить качественную бесплатную консультацию в режиме «онлайн» в течение 24 часов;
                                    li обратная связь: возможность оставить отзывы о работе врачей;
                                    li возможность узнать количество бонусов.
                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/2_1.jpg' title='The Cleaner')
                            img.photo(src='./assets/images/2_1.jpg') 
                        a(href='./assets/images/2_2.jpg' title='Winter Dance')
                            img.photo(src='./assets/images/2_2.jpg')
                        a(href='./assets/images/2_3.jpg' title='The Uninvited Guest')
                            img.photo(src='./assets/images/2_3.jpg')   
                        a(href='./assets/images/2_4.jpg' title='The Uninvited Guest')
                            img.photo(src='./assets/images/2_4.jpg') 
                     
            .h-ruler
            .row.mb-3
                .col-12
                    .title Файлы проекта
            .row.mb-5 
                .col-12
                    .files 
                        a.file(href="./assets/files/ТЗ на разработку МП для клиники _Медицея.docx" target="blank" rel="nofollow") ТЗ на разработку МП для клиники _Медицея
            .h-ruler
            block content
            include ./slider-pop-up 