.pop-up#pop-up-2
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .close
                        i.material-icons close
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_2.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Приложение для сети медицинских клиник "Медицея"
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='#') NDA protected
                            .details_text 
                            p
                                | Приложение для сети медицинских клиник "Медицея"
                                | Реализация личного кабинета пользователя
                                | - запись на прием к врачу
                                | - получение результатов анализов
                                | - онлайн-консультации со специалистами
                                | Вызов врача на дом, информация о проводимых акциях
                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/2_1.jpg' title='The Cleaner')
                            img.photo(src='./assets/images/2_1.jpg') 
                        a(href='./assets/images/2_2.jpg' title='Winter Dance')
                            img.photo(src='./assets/images/2_2.jpg')
                        a(href='./assets/images/2_3.jpg' title='The Uninvited Guest')
                            img.photo(src='./assets/images/2_3.jpg')   
                        a(href='./assets/images/2_4.jpg' title='The Uninvited Guest')
                            img.photo(src='./assets/images/2_4.jpg') 
                     
            .h-ruler
            .row.mb-3
                .col-12
                    .title Файлы проекта
            .row.mb-5 
                .col-12
                    .files 
                        a.file(href="./assets/files/ТЗ на разработку МП для клиники _Медицея.docx" target="blank" rel="nofollow") ТЗ на разработку МП для клиники _Медицея
            .h-ruler
            block content
            include ./slider-pop-up 