.pop-up#pop-up-4
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .close
                        i.material-icons close
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_4.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Сайт событийного агенства "Шахматы"
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='#') NDA protected
                            .details_text 
                            p
                                |- обычная верстка сайтов, разработка сайтов на базе CMF Modx, 1С 
                                br
                                | Битрикс;
                                br
                                | - программирование на php, NodeJS, JS, TypeScript;
                                br
                                | - фреймворки reactjs, angularjs;
                                br
                                | - agile разработка с использованием sass, gulp и других 
                                br
                                | инструментов;
                                br
                                | - навыки продуктовой разработки больших корпоративных сайтов  
                                br
                                |ASP.NET;
                                br
                                | - разработка мобильных приложений на phonegapcordova.
                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/4_1.jpg' title='The Cleaner')
                            img.photo(src='./assets/images/4_1.jpg') 
                        a(href='./assets/images/4_2.jpg' title='Winter Dance')
                            img.photo(src='./assets/images/4_2.jpg')   
            .h-ruler
            block content
            include ./slider-pop-up 