.pop-up#pop-up-5
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .go-back
                        i.material-icons arrow_back
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_5.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Криптовалютный обменник
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='https://cryptobroker.pro/' target="blank") https://cryptobroker.pro/
                            .details_text 
                            p 
                                |CBRO - крипто-обменник который дает возможность в режиме онлайн провести обмен, благодаря калькулятору, из btc (биткойн) в рубли и другую криптовалюту.
                                br 
                                br 
                                |CBRO включает в себя: 
                            ul 
                                li Поддержка множества криптовалют и направлений обмена;
                                li CRM решение для эффективного управления сделками;
                                li Накопительные скидки для постоянных клиентов;
                                li Отслеживание динамики и объема обменов.
                            
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/5_1.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_1.png') 
                        a(href='./assets/images/5_2.png' title='Winter Dance')
                            img.photo(src='./assets/images/5_2.png')
                        a(href='./assets/images/5_3.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/5_3.png') 
                        a(href='./assets/images/5_4.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_4.png') 
                        a(href='./assets/images/5_5.png' title='Winter Dance')
                            img.photo(src='./assets/images/5_5.png')
                        a(href='./assets/images/5_6.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/5_6.png') 
                        a(href='./assets/images/5_7.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_7.png') 
            .h-ruler
            block content
            include ./slider-pop-up 