.pop-up#pop-up-5
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .close
                        i.material-icons close
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_5.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Криптовалютный обменник
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='#') NDA protected
                            .details_text 
                            p
                                |Обменник криптовалюты
                                br
                                |Поддержка множества криптовалют и направлений обмена
                                br
                                | CRM решение для эффективного управления сделками
                                br
                                | Накопительные скидки для постоянных клиентов
                                br
                                |Отслеживание динамики и объема обменов
                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/5_1.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_1.png') 
                        a(href='./assets/images/5_2.png' title='Winter Dance')
                            img.photo(src='./assets/images/5_2.png')
                        a(href='./assets/images/5_3.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/5_3.png') 
                        a(href='./assets/images/5_4.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_4.png') 
                        a(href='./assets/images/5_5.png' title='Winter Dance')
                            img.photo(src='./assets/images/5_5.png')
                        a(href='./assets/images/5_6.png' title='The Uninvited Guest')
                            img.photo(src='./assets/images/5_6.png') 
                        a(href='./assets/images/5_7.png' title='The Cleaner')
                            img.photo(src='./assets/images/5_7.png') 
            .h-ruler
            block content
            include ./slider-pop-up 