div.pop-up#pop-up-5
    div.close 
            i.material-icons close
    div.pop-up_content 
        div.pop-up_content_body 
            div.desc 
                div.details 
                    div.details_header 
                        h1 Fifth
                    div.details_line  
                    div.details_link  
                        a(href='https://btc.sigmapool.com/' target="_blank") sigmapool.com
                    div.details_text 
                     p
                        |Before talking about qualifications and professional   
                        |abilities, we would like to introduce ,our self we are a 
                        |professional Russian company for over 8 years, we have 
                        |been creating high-performance apps and Websites
                        |Before talking about qualifications and professional   
                        |abilities, we would like to introduce ,our self we are a 
                        |professional Russian company for over 8 years, we have 
                        |been creating high-performance apps and Websites
                div.photo
                        img(src='./assets/images/work_image.png')
            div.photos.popup_slider 
                img.photo(src='https://www.kiss1077.ca/wp-content/uploads/sites/30/2017/09/pennywise-it-2017-1024x576.jpg')  
                img.photo(src='./assets/images/company_small.png') 
                img.photo(src='./assets/images/company_small.png') 
                img.photo(src='./assets/images/company_small.png') 
                img.photo(src='./assets/images/company_small.png')
                img.photo(src='./assets/images/company_small.png')  
            div.files 
                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 
                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 
                
                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 

                div.file 
                    img.photo(src='./assets/images/icon_file.png')  
                    div.text 
                        h4 file name 


                        
