.pop-up#pop-up-6
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .go-back
                        i.material-icons arrow_back
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_6.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Мобильная игра "Сеня Спасатель"
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='https://play.google.com/store/apps/details?id=com.gladwayfond.senya' target="blank") https://play.google.com/store/apps/details?id=com.gladwayfond.senya
                            .details_text 
                            p
                                | Игра «Сеня-Спасатель» - новый элемент программы, которая 
                                br
                                | действует с 2005 года и посвящена вопросам безопасности детей и 
                                br
                                | правилам поведения в чрезвычайных ситуациях. (Особенно актуальных для жителей Сахалина и Камчатки.)
                                br 
                                br
                                | Игра органично включает в себя комиксы и мультфильмы, 
                                br
                                | идеи, советы и рекомендации в современный вид, сочетающий в себе 
                                br
                                | квест, мультфильмы и логическую игру.
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/6_1.jpg' title='The Cleaner')
                            img.photo(src='./assets/images/6_1.jpg') 
            .h-ruler
            block content
            include ./slider-pop-up 