.pop-up#pop-up-7
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .go-back
                        i.material-icons arrow_back
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/work_7.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 Магазин автозапчастей Штаб Онлайн
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='http://shtab.online/' target="blank") http://shtab.online/
                            .details_text 
                            p
                                |Система автоматизации продаж автозапчастей SHTAB.ONLINE 
                                br 
                                br
                                | Программный комплекс предназначен для решения следующих задач:

                                br
                                |- Удобный поиск позиций с возможностями кроссировки и интеграции 
                                br
                                | с поставщиками;
                                br
                                |- Синхронизация справочников и документов системы 1С и хранилища 

                                br
                                |системы управления интернет-магазином (далее СУИМ);


                                br
                                | - Создание и управление заказами клиентов;

                                br
                                |- Создание и управление заказами поставщикам;

                                br
                                |- Обеспечение выверенной экосистемы во взаимодействии с
                                br
                                |  контрагентами; 
                                br
                                |- Обеспечение гибкой системы ценообразования;

                                br
                                |- Создание базы прайсов с запчастями из различных источников с 
                                br
                                |возможностью осуществления выборки;
                                br
                                |- Управление контентом сайта для удобного наполнения;

                                br
                                |- Создание единого интерфейса для интеграции с системой.
                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/7_1.png' title='The Cleaner')
                            img.photo(src='./assets/images/7_1.png') 
                        a(href='./assets/images/7_2.png' title='Winter Dance')
                            img.photo(src='./assets/images/7_2.png')
            .h-ruler
            .row.mb-3
                .col-12
                    .title Файлы проекта
            .row.mb-5
                .col-12
                    .files 
                        a.file(href="./assets/files/Техпроект на доработку системы управления интернет-магазином автозапчастей.docx" target="blank" rel="nofollow") Техпроект на доработку системы управления интернет-магазином автозапчастей
                        a.file(href="./assets/files/Техпроект на разработку системы управления интернет-магазином автозапчастей.docx" target="blank" rel="nofollow") Техпроект на разработку системы управления интернет-магазином автозапчастей
            .h-ruler
            block content
            include ./slider-pop-up 