.pop-up#pop-up-9
    .pop-up_content
        .pop-up_content_body
            .row.my-2
                .col
                    .close
                        i.material-icons close
            .row
                .col-lg-5.order-lg-2.mb-2
                    img.img(src='./assets/images/cryptopool-1.png')
                .col-lg-7.order-lg-1.mb-2
                    .desc 
                        .details 
                            .details_header 
                                h1 KC Token and Crowdsale аудит
                            .details_line  
                            .details_link.mt-3.mb-3
                                a(href='#') NDA protected
                            .details_text 
                            p
                                |Аудит ICO / Ethereum Solidity смарт-контракта.
 
                                br
                                | - Провели тестирование на симуляторе

                                br
                                | - Описали рекомендации в документе                                
            .h-ruler
            .row.mb-3
                .col-12
                    .title Фото проекта
            .row.mb-5
                .col-12
                    .popup-gallery
                        a(href='./assets/images/no-image.jpg' title='The Cleaner')
                            img.photo(src='./assets/images/no-image.jpg') 
            .h-ruler
            .row.mb-3
                .col-12
                    .title Файлы проекта  
            .row.mb-5
                .col-12
                    .files 
                        a.file(href="./assets/files/КС-токен и Crowdsale аудит.docx" target="blank" rel="nofollow") КС-токен и Crowdsale аудит
            .h-ruler
            block content
            include ./slider-pop-up         